version: '3.8'

services:
  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile.backend
    volumes:
      - ../data:/app/data
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - db

  frontend:
    build:
      context: ..
      dockerfile: docker/Dockerfile.frontend
    ports:
      - "80:80"
    depends_on:
      - backend

  db:
    image: sqlite:latest
    volumes:
      - ../data/kb/kb.sqlite:/var/lib/sqlite/kb.sqlite
    command: sqlite3 /var/lib/sqlite/kb.sqlite